---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Capable de créer des applications web complètes, de l'interface
      utilisateur à la gestion des données côté serveur, tout en respectant les
      meilleures pratiques en matière de performance et de sécurité.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="lightbulb"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Tech curieux</h2>
    <p>
      Toujours à jour sur les dernières technologies et tendances du
      développement web. Je suis passionné par l'optimisation des performances,
      la scalabilité et l'expérience utilisateur, avec une curiosité constante
      pour les nouvelles méthodes et outils du secteur.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Vision stratégique</h2>
    <p>
      En tant que développeur fullstack, je m'assure que chaque décision
      technique est en phase avec les objectifs globaux du projet, en prenant en
      compte l'impact à long terme.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
